/*-----------------------------------------------------------------------------------
CSS Reset
-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/*-----------------------------------------------------------------------------------
Basic Body Defaults
-----------------------------------------------------------------------------------*/

* {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

html { 
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

body {
	background-image: url("../img/lukas.png");
	background-position: center; 
	background-size: cover;
	width: 100%;
	height: 100vh;
	color: #8D644D;
	font-family:"Cormorant Garamond", serif;
	font-weight: 300;
	font-style: normal;; 
	font-size: 1.6rem;
	line-height: 1.75;
	word-wrap: break-word;
	display: flex;
}

section {
	margin: auto;
	text-align: center;
}

h1 { 
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #8D644D;
	font-size: 9.5rem;
	font-weight: 300;
}

p {
	font-size: 4rem;
}